// Global
:root {
  --dynamic-vh: 100vh;

  @include respond-max(sm) {
    & {
      --item-mx-w: 75%;
    }
  }

  @include respond-max(xs) {
    & {
      --item-mx-w: 20rem;
    }
  }
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $colorDarkPrimary;
  font-family: $fontMontserrat;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: $colorWhite;

  @include respond-max(md) {
    &.isLocked {
      overflow-y: hidden;
    }
  }
}

.main {
  flex: 1 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

svg {
  fill: currentColor;
}

::selection {
  background-color: $colorAccentPrimary;
  color: $colorWhite;
}
