// Container properties
$containerMaxWidth: 1320px;
$containerMinWidth: 320px;
$totalMaxWidth: $containerMaxWidth + 30px;

$container: (
  xl: 1170px,
  lg: 960px,
  md: 720px,
  sm: 540px,
  xs: none,
);

// Media breakpoints
$breakpoints: (
  xl: 1399.98px,
  lg: 1199.98px,
  md: 991.98px,
  sm: 767.98px,
  xs: 575.98px,
);

// Fonts
$fontMontserrat: 'Montserrat', sans-serif;

// Colours
$colorWhite: #ffffff;
$colorDarkGray: #1a1a1a;
$colorDarkPrimary: #070707;
$colorDarkSecondary: lighten($colorDarkPrimary, 2.8%);
$colorAccentPrimary: #8b5cf6;
$colorAccentGradient: linear-gradient(
  135deg,
  #8b5cf6,
  #8958f5,
  #8753f4,
  #844ef2,
  #824af1,
  #8045f0,
  #7e3fee,
  #7c3aed
);

// Transitions
$transitionStyle: ease;
