// Paragraph
@import '@assets/styles/utils/variables';
@import '@assets/styles/utils/mixins';

.paragraph {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: justify;
  color: rgba($colorWhite, 0.6);

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  @include respond-max(lg) {
    &__text {
      font-size: 1rem;
    }
  }

  @include respond-max(sm) {
    &__text {
      text-align: center;
    }
  }
}
