// Heading
@import '@assets/styles/utils/variables';
@import '@assets/styles/utils/mixins';

.heading {
  margin: 0 0 3rem;
  font-size: 2rem;
  font-weight: 700;

  @include respond-max(md) {
    & {
      margin-bottom: 2.5rem;
    }
  }

  @include respond-max(sm) {
    & {
      font-size: 1.75rem;
    }
  }
}
