// Footer
@import '@/assets/styles/utils/variables';

.footer {
  flex: 0 0 auto;
  padding: 2rem 0;
  background-color: $colorDarkSecondary;

  &__copyright {
    font-size: 0.75rem;
    color: rgba($colorWhite, 0.6);
  }

  &__icon {
    margin: 0 0.3em;
  }
}
